# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables / Secrets
.env
.env.*
client/.env
client/.env.*
server/.env
server/.env.*

# Build files
dist/
client/dist/
server/dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db